@charset "utf-8";

.entry_form{
	display : none;
}
.entry_form.active{
	display : block;
}

.attend_tab{
	display : flex;
	margin-bottom : 60px;
}
.tab02.active{
	background-color : #b2ddf7;
}
.tab03.active{
	background-color : #b2ddf7;
}
.attend_tab > div {
	width : 160px;
	text-align: center;
	border : 1px solid black;
	cursor : pointer;
	transition : background 0.3s;
}

.attend_tab > div:hover {
	background-color : #81a9eb;
}

.attend_tab > div:first-child {
	border-right: none;
}

.graph_caption {
	display : flex;
	width : 100%;
	border-bottom: 1px solid #cfcfcf;
	padding-bottom : 15px;
}

.graph_caption > span {
	display : inline-block;
}
.entry_form .graph_caption > span:first-child {
	width : 50%;
	text-align: left;
	font-size : 27px;
}
.entry_form .graph_caption > span:last-child {
	width : 50%;
	text-align: right;
}
.graph > div{
	display : flex;
}
.graph > div:first-child{
	margin-top : 20px;
}
.graph > div:not(:last-child){
	margin-bottom : 20px;
}
.graph > div > span{
	font-size : 22px;
	display : inline-block;
}
.graph > div > span:first-child{
	width : 35%;
}
.graph > div > span:last-child{
	width : 65%;
}
.graph > div > .graph_right > div:not(:last-child){
	margin-bottom: 10px;
}
.graph input[type="text"]{
	font-size : 20px;
	border : 1px solid black;
	border-radius: 10px;
	padding-left: 10px;
}
.graph input[type="radio"]{
	font-size : 14px;
}

.graph_radio {
	display : flex;
	width : 100%;
}
.graph_radio > div{
	width : 50%;
}
.graph_radio label:not(:last-child){
	margin-bottom : 10px;
}
.team_address > div {
	display : block;
}
.find_postcode {
	margin-left : 20px;
	padding : 10px;
	border-radius: 15px;
}
.btn_graph_submit {
    text-align: center;
    margin-top: 40px;
}

.btn_graph_submit button{
	padding: 15px;
    background-color: #3f3f3f !important;
	border-radius: 20px;
	display: inline-block;
	background-color : transparent;
	color : white;
	width : 200px;
	font-size : 17px;
}

.entry_check{
	display : none;
}
.entry_check.active{
	display : block;
}
.entry_check .graph_caption > span {
	width : 50%;
	text-align: left;
	font-size : 27px;
}